body {
    display: flex;
    flex-direction: column;
    flex:1 1 auto;
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.logoLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 120px;
}

ul {
    list-style: none;
    margin: 0px;
    color: #fff;
}

.BomfyLogo>img {
    border-radius: 50%;
}